{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src='{{ user.profile.image.url }}'>
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>

      <hr/>
      <h3>Following <small>{{ user.profile.get_following.count }}</small></h3>
      {% for users in user.profile.get_following %}
      <a href="/{{users.username}}">{{users.username}}</a>
      {% empty %}
        <h6>Not following any users</h6>
      {% endfor %}

      <hr/>
      <h3>Followed By</h3>
      {% for profile in user.followed_by.all %}
      <a href="/{{ profile.user.username }}">{{profile.user.username}}</a><br>
      {% empty %}
        <h6>Not followed any users</h6>
      {% endfor %}



    </div>
  </div>
 </div>


{% endblock content %}